<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weserve</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container">
            <div class="container-fluid">
                <!-- Logo on the left -->
                <a class="navbar-brand d-flex justify-content-center align-items-center" href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='rb_3704.png') }}" alt="rocket logo" style="width: 60px;">
                    <object data="{{ url_for('static', filename='logo.svg') }}" type="image/svg+xml"
                        width="150px"></object>
                </a>

                <!-- Toggler for smaller screens -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navigation links on the right -->
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav" style="font-size: 25px;">
                    <ul class="navbar-nav">
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="{{ url_for('ux_design') }}">UX Design</a>
                        </li>
                        <!-- Dropdown for Design Consulting -->
                        <li class="nav-item dropdown mx-2">
                            <a class="nav-link dropdown-toggle" href="#" id="designConsultingDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Design Consulting
                            </a>
                            <div class="dropdown-menu" aria-labelledby="designConsultingDropdown">
                                <a class="dropdown-item" href="#">Strategy</a>
                                <a class="dropdown-item" href="#">Workshops</a>
                                <a class="dropdown-item" href="#">Prototyping</a>
                            </div>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#">About us</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#">Our team</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="contact-button" href="{{ url_for('contact') }}">Contact</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>

    <section class="text-white" style="background-color: #3E20E4;">
        <div class="row" style="height: 500px;">
            <div class="container mt-5">

                <div class="row" style="height:550px;">
                    <div class="col-md-6">
                        <h2 style="font-size: 48px;">We'd love to talk to you. Let’s chat!</h2>
                        <p style="font-size: 18px;">hello@weserve.com</p>
                        <p style="font-size: 18px;">+1 234 234 556</p>
                        <p style="font-size: 18px;">205-167 Union St, San Francisco, CA 93927</p>
                    </div>
                    <div class="col-md-6">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.003823083476!2d-122.41111068468114!3d37.787994179756085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858064e1a88583%3A0x978a7bbd29f5e235!2sUnion%20Square%2C%20San%20Francisco%2C%20CA!5e0!3m2!1sen!2sus!4v1700000000000"
                            frameborder="0" style="border:0; width: 100%; height: 400px;" allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-light py-5">
        <div class="row" id="contatti" style="height: 500px;">
            <div class="container mt-5">

                <div class="row" style="height:550px;">
                    <div class="col-md-6">
                        <h2 style="font-size: 48px;">Leave a message and connect with us</h2>
                        <p style="font-size: 20px; color: #7D7D7E;">Donec sed blandit arcu. Etiam tincidunt lacus sit
                            amet nibh congue
                            malesuada. Vestibulum pellentesque justo quis tortor congue egestas. </p>
                        <p style="font-size: 20px; color: #7D7D7E;">Twitter</p>
                        <p style="font-size: 20px; color: #7D7D7E;">Instagram</p>
                        <p style="font-size: 20px; color: #7D7D7E;">Facebook</p>
                        <p style="font-size: 20px; color: #7D7D7E;">Linkedin</p>
                    </div>
                    <div class="col-md-6">
                        <form action="">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control mt-2" placeholder="First Name" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control mt-2" placeholder="Last Name" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control mt-2" placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="number" class="form-control mt-2" placeholder="Phone" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                            placeholder="Your message" rows="3" required></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2"
                                                required>
                                            <label class="form-check-label" for="invalidCheck2">
                                                Accept Terms
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn text-white hover-effect" style="background-color: #FF00BB;"
                                        type="submit">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="py-4" style="background-color: #E7E7F4;">
        <div class="container">
            <div class="row">
                <!-- About Column -->
                <div class="col-md-3">
                    <strong>About</strong>
                    <ul class="list-unstyled mt-2">
                        <li class="py-2"><a href="#">About</a></li>
                        <li class="py-2"><a href="#">Our Method</a></li>
                        <li class="py-2"><a href="#">Contact</a></li>
                    </ul>
                </div>

                <!-- Our Services Column -->
                <div class="col-md-3">
                    <strong>Our Services</strong>
                    <ul class="list-unstyled mt-2">
                        <li class="py-2"><a href="#" class="py-2">UX Design</a></li>
                        <li class="py-2"><a href="#" class="">UX Consulting</a></li>
                        <li class="py-2"><a href="#" class="">Development</a></li>
                    </ul>
                </div>

                <!-- Legal Column -->
                <div class="col-md-3">
                    <strong>Legal</strong>
                    <ul class="list-unstyled mt-2">
                        <li class="py-2"><a href="#" class="">Cookies Policies</a></li>
                        <li class="py-2"><a href="#" class="">Terms & Conditions</a></li>
                        <li class="py-2"><a href="#" class="">Privacy Policy</a></li>
                    </ul>
                </div>

                <!-- Contact Column -->
                <div class="col-md-3">
                    <strong>Contact</strong>
                    <ul class="list-unstyled mt-2">
                        <li class="py-2"><a href="mailto:hello@weserve.com" class="">hello@weserve.com</a></li>
                        <li class="py-2"><a href="tel:+34644000000" class="">+34 644 00 00 00</a></li>
                        <li class="mt-2 py-2"><a href="">
                                <img src="{{ url_for('static', filename='footer-contact.svg') }}" alt="Contact Image"
                                    class="img-fluid" style="max-width: 150px;">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>